* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

/* Container for the entire login section */
.seekerLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Container for the card */
.seekerLogin .container {
  max-width: 500px;
  padding: 2rem;
}

.seekerLogin h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #000;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}


.seekerLogin .card {
  padding: 2rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.seekerLogin .form-label {
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.seekerLogin .form-control {
  padding: 0.75rem 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}

.seekerLogin .form-check-input {
  margin-right: 0.5rem;
}

.seekerLogin .form-check-label {
  font-weight: 500;
}

.seekerLogin .btn-primary {
  width: 100%;
  padding: 0.75rem;
  border-radius: 4px;
  background-color: #007bff;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.seekerLogin .btn-primary:hover {
  background-color: #0056b3;
}

.seekerLogin .text-center {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.seekerLogin .text-center p {
  margin-bottom: 0.5rem;
}

.seekerLogin .text-center p .btn .btn-link {
  color: #007bff;
  padding-left: 20px;
  text-decoration: none;
}

.seekerLogin .text-center p .btn-link:hover {
  color: #0056b3;
}

.seekerLogin .btn-floating {
  font-size: 1.25rem;
  color: #007bff;
  margin: 0 0.25rem;
}

.seekerLogin .btn-floating:hover {
  color: #0056b3;
}
